<div class="body">
  <div *ngIf="session; else elseBlock">
    <span>UserId:</span>
    <h3>{{ userId }}</h3>

    <button (click)="onLogout()">Sign Out</button>
  </div>

  <ng-template #elseBlock>
    <app-header/>
    <div class="flex flex-col items-center p-6 bg-gray-100 min-h-screen">
      <div>
        <img class="star1" ngSrc="/img/star.svg" alt="Start Icon" height="42" width="42">
        <img class="star2" ngSrc="/img/star.svg" alt="Start Icon" height="20" width="20">
        <img class="polygon1" ngSrc="/img/polygon.svg" alt="Start Icon" height="28" width="28">
        <img class="polygon2" ngSrc="/img/polygon.svg" alt="Start Icon" height="20" width="20">
        <h1 class="home-title">Let's shorten <br> your URL</h1>
        <p class="home-p">Because it's much cooler to have a nice URL to share</p>
        <div class="mt-4 bg-yellow-100 p-2 rounded flex items-center">
          <input type="text" class="p-2 border rounded w-80" placeholder="http://yourinsanelongurl.com/not-even-fits"/>
          <button class="bg-yellow-400 px-4 py-2 ml-2 rounded">Shorten!</button>
        </div>
      </div>
      <section class="mt-10 text-center">
        <h3 class="text-xl font-bold">Shorten, Track, Repeat! 🚀</h3>
        <p class="text-gray-600 max-w-lg">
          Each credit gives you the power to shorten one URL and unlock its <b>analytics</b>!
          Track clicks, see where your visitors come from, and make data-driven decisions—all in one place.
          <b>No hidden fees</b>, no hassle, just simple and effective link management!
        </p>
      </section>
      <section class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-6">

        <app-pricing-card
          planTitle="Just need a few links?"
          price="$0.99"
          credits=5
        ></app-pricing-card>

        <app-pricing-card
          planTitle="Frequent user?"
          price="$4.99"
          credits=20
        ></app-pricing-card>

        <app-pricing-card
          planTitle="Power user pack!"
          price="$9.99"
          credits=50
        ></app-pricing-card>

      </section>
    </div>
  </ng-template>
</div>
